<configuration>
  <connectionStrings>
    <add name="AutoparkContext"
         connectionString="server=192.168.0.7;port=4406;database=autopark;uid=root;pwd=Ena1Tin2Amila;"
         providerName="Pomelo.EntityFrameworkCore.MySql" />
  </connectionStrings>
  <appSettings>
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="FromEmail" value="milanovic.tin@gmail.com" />
    <add key="FromName" value="Sustav za rezervacije" />
    <add key="AppPassword" value="ajkpdiouahpdgmke" />
  </appSettings>
</configuration>